.resetPassword-container {
	display: flex;
	position: absolute;
	flex-direction: row;
	width: 100%;
	min-width: 242px;
	height: 100%;
	min-height: 454px;
	justify-content: center;
	margin: 0 auto;
	overflow: hidden;
}

.resetPassword-container .container-left {
	width: auto;
	display: flex;
	flex: 1;
	position: relative;
}

.resetPassword-container .container-left img {
	width: 100%;
	object-fit: cover;
}

.resetPassword-container .container-right {
	display: flex;
	position: relative;
	width: 100%;
	flex: 1;
	background-color: #80008010;
}

@media only screen and (max-width: 1024px) {
	.resetPassword-container .container-right .login {
			padding-left: 15px!important;
	}

	.links {
			text-align: center;
	}
}

@media only screen and (max-width: 425px) {

	.resetPassword-container .container-left img{
    width: auto;
	}

	.resetPassword-container .container-right .login {
		width: 100%;
		padding: 2px!important;
		min-width: auto!important;
		background-color: #80008010!important;
		background-image: linear-gradient(to top, #fffa, #fffa)!important;
	}

	.resetPassword-container .container-right .login a{
		margin-left: auto;
	}

	.resetPassword-container .container-right .login img {
			margin: auto;
	}

	.resetPassword-container .container-left {
			position: absolute!important;
			height: 100%;
	}

	.resetPassword-container .container-left {
			flex: 0!important;
	}

	.resetPassword-container .container-right .login .login-title {
			text-align: center;
	}
}

.resetPassword-container .container-right .login {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px 18px 5px 92px;
	max-width: 442px;
	min-width: 394px;
	transition: .2s;
	width: 100%;
}

.resetPassword-container .container-right .login a{
	position: relative;
  margin-right: auto;
}

.resetPassword-container .container-right .login img {
	display: block;
}

.resetPassword-container .container-right .login .login-title {
	position: relative;
	margin: 50px 0;
	height: 37px;
	font: normal normal 600 28px/37px Montserrat;
	letter-spacing: 0px;
	color: #1D1F22;
	opacity: 1;
}

.links {
	margin: 20px 0;
	background: #eeea;
	border-radius: 9px;
	color: gray;
	text-shadow: 0 0 4px #fff;
	box-shadow: 0 0 1px #aaa;
}
