.restaurants-container {
  background-color: #f7f7f7;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  overflow: auto;
}

.super-admin {
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 30px auto;
  flex-direction: column;
}

.super-admin table {
  border: 1px solid #1492e680;
  border-collapse: separate;
  width: 100%;
  border-radius: 10px;
  font: normal normal 500 18px/27px Montserrat;
  background: #fff;
}

.super-admin td {
  padding: 8px 10px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.33);
}

.restaurants-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  align-items: center;
  padding: 0 20px;
}


.btn-back:hover {
  text-decoration: underline;
}

.confidentiality-container .cl {
  display: flex;
}

.btn-back-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 60px;
}

.restaurants-btn-items {
  display: flex;
  position: relative;
  flex: auto;
  min-height: 173px;
  margin-bottom: 30px;
  text-decoration: none;
  justify-content: center;
	overflow: auto;
}

.home-container {
  background-color: #f7f7f7;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  overflow: auto;
}

.restaurants-logo {
  display: flex;
  position: relative;
  width: 100%;
  height: 61px;
  align-items: center;
  margin-top: 110px;
  justify-content: center;
}

.validate-btn {
  background-color: #008000aa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  text-shadow: 0 0 4px #000;
  color: #fff;
  padding: 5px;
}

.block-btn {
  background-color: #ff0000aa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  text-shadow: 0 0 4px #000;
  color: #fff;
  padding: 5px;
}
